extends layout

block content
    each user in users
        div name: #{user.username}
        div gender: #{user.gender}
        div= agree #{user.agree}
        div= password: #{user.password}

    
    